{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styleTables.css') }}">
{% endblock %}
{% block content %}
  <h1>Seminarios</h1>
  <p class="important">
    Estas son seminarios publicados, {% if session['usuario_logueado'].get('nombre') %} Hello {{ session['usuario_logueado'].get('nombre') }}! {% else %} Hello, World! {% endif %}
<table style="width:100%">
  <tr>
    <th>Profesor</th>
    <th>Tema</th>
    <th>Fecha Hora</th>
    <th>Lugar</th>
  </tr>
{% for seminario in session['tablaSeminarios'] %}
	<tr>
    		<td>{{ cita[0] }} {{ cita[1] }}</td>
   		<td>{{ cita[2] }}</td> 
    		<td>{{ cita[3] }}</td>
    		<td>{{ cita[4] }}</td>
  	</tr>
{% endfor %}
</table>
{% endblock %}