{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styleTables.css') }}">
{% endblock %}
{% block content %}
  <h1>Asesorias</h1>
  <p class="important">
    Estas son las asesorias, {% if session['usuario_logueado'].get('nombre') %} Hello {{ session['usuario_logueado'].get('nombre') }}! {% else %} Hello, World! {% endif %}
<table style="width:100%">
  <tr>
    <th>Asesoria ID</th>
    <th>Hora</th>
    <th>Lugar</th>
    <th>Dia</th> 
  </tr>
{% for asesoria in session['tablaAsesorias'] %}
	<tr>
    		<td>{{asesoria[0]}}</td>
   		<td>{{asesoria[1]}}</td> 
    		<td>{{asesoria[2]}}</td>
    		<td>{{asesoria[3]}}</td>
  	</tr>
{% endfor %}
  
</table>
{% endblock %}