<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleNavigation.css') }}">
    {% block head %}
    {% endblock %}
    <title>Asesorias UL</title>
  </head>
  <body>
  <div>
    <a href="www.ulima.edu.pe">Universidad de Lima</a>
  </div>
  <ul>
    <li><a href="{{ url_for('childAsesorias') }}">Asesorías</a></li>
    <li><a href="{{ url_for('childHistorial') }}">Historial</a></li>
    <li><a href="{{ url_for('childCitas') }}">Mis citas</a></li>
    <li><a href="{{ url_for('childSeminarios') }}">Seminarios</a></li>
  </ul>
    <div id="content">
	{% block content %}
	{% endblock %}
    </div>
    <div id="footer">
      {% block footer %}
      &copy; Copyright 2010 by <a href="http://domain.invalid/">you</a>.
      {% endblock %}
    </div>
  </body>
</html>